# Include documentation
include README.md
include LICENSE
include OPTIMIZATION.md
include CHANGELOG.md

# Include CLI script
include infer.py

# Exclude unnecessary files
exclude .gitignore
exclude *.bak
recursive-exclude tests *
recursive-exclude .github *
recursive-exclude __pycache__ *
recursive-exclude input_data *
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.png
global-exclude *.jpg
global-exclude .DS_Store
